html {
  font-size: 1rem;
  scroll-behavior: smooth;
}
body {
  padding-top: 4.5rem;
  padding-bottom: 10rem;
}
h1 {
  font-size: 1.7rem;
  font-weight: 300;
}
h2 {
  font-size: 1.4rem;
  font-weight: 300;
  color: #666666;
  padding-top: 1rem;
}

.big-only {
  display: none;
}
@media (min-width: 768px) {
  html {
    font-size: 1.1rem;
  }
  .small-only {
    display: none;
  }
  .big-only {
    display:  initial;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 1.2rem;
  }
  .container {
    max-width: 800px;
  }
}

.navbar {
  margin-bottom: 20px;
}
.clear {
  clear: both;
  margin-bottom: 1rem;
}
.monospace {
  font-family: monospace;
}
.center {
  text-align: center;
}

section.footnotes {
  padding-top: 4rem;
  padding-bottom: 1rem;
  margin-bottom: -10rem;
}
.footnotes li:target p {
  background: #ffffcc;
  border: 1px solid #ffeb3b;
  padding: 1em;
}

/* shift anchors and footnote-refs down to compensate for fixed header */
.anchor {
  padding-top: 3.75rem;
  margin-top: -3.75rem;
}
.footnote-ref {
  padding-top: 4.75rem;
  margin-top: -4.75rem;
}

/* NEWS */
.news-item {
  margin: 1.75rem auto;
  max-width: 600px;
}
.news-item .card-body {
  padding: 0.5rem 1rem 1rem;
}
.news-item p:last-child {
  margin-bottom: 0;
}
.play-btn {
  position: relative;
}
.news-item a img:hover {
  filter: contrast(0.9);
}
.play-btn:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background-image: url("../thumb/play-btn.png");
  background-size: 4rem 4rem;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0.85;
  pointer-events: none;
}
.play-btn-shadow:after {
  background-image: url("../thumb/play-btn-shadow.png");
}
#more-news {
  text-align: center;
  font-size: 1.5rem;
}

/* STUDENTS */
.ras .row {
  margin-top: 2rem;
}
.ra-pic {
  max-width: 200px;
  margin-bottom: 1rem;
}
.ra-pic a img:hover {
  filter: contrast(0.9);
}
.ra-name {
  font-size: 1.3rem;
}
.ras p {
  margin-bottom: 0;
}
.ras ul {
  padding-left: 1.5rem;
}


/* PUBLICATIONS */
.pub-entry {
  padding: 1rem;
}
.pub-entry p {
  margin-bottom: 0;
}
.anchor:target .pub-entry {
  background: #ffffcc;
  border: 1px solid #ffeb3b;
}
.bib-card {
  font-size: 0.8rem;
  background: #ebf8ff;
}
.bib-card pre {
  margin: 0;
  margin-top: -1rem;
}
.pub-award {
  font-weight: bold;
  color: orange;
}

/* TALKS */
.talk-entry {
  padding: 1rem;
}
.talk-entry p {
  margin-bottom: 0;
}
.anchor:target .talk-entry {
  background: #ffffcc;
  border: 1px solid #ffeb3b;
}
.abs-card {
  font-size: 0.8rem;
  background: #ebf8ff;
}

/* bibliography */
#bib {
  font-size: 0.8rem;
}
.bib-entry {
  padding-bottom: 1em;
}
.bib-entry pre, .bib-entry p {
  margin-bottom: 0;
}
.anchor:target .bib-entry {
  background: #ffffcc;
  border: 1px solid #ffeb3b;
}

/* PROJECTS */
/* TODO tweak image size like students? */
#proj {
  margin-top: 1.5rem;
}
#proj .row {
  margin-top: 1.5rem;
}
.proj-logo {
  max-width: 6rem;
  text-align: center;
}
.proj-logo img:hover {
  filter: contrast(0.9);
}
.proj-logo img {
  height: 4rem;
}

/* COLLABORATORS */
#collabs ul {
  list-style-type: none;
}
#collabs li {
  float: left;
  width: 12rem;
  padding-top: 1rem;
}


/* ABOUT */
.about-pic {
  max-width: 500px;
  margin: 0 auto;
}
.about-pic-narrow {
  max-width: 250px;
  margin: 0 auto;
}
